<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge;chrome=1" />
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
        <meta name="google" content="notranslate" />
        <!-- Metadata (autofilled by "Save to HTML") -->
        <meta name="author" content="<%= personalInfo.firstName %> <%= personalInfo.lastName %>" />
        <meta name="subject" content="A really good software engineer you should hire" />
        <meta name="keywords" content="coding, developing, hacking" />
        <meta name="date" content="<%= createdAt %>" />
        <meta name="generator" content="html-resume-template" />
        <!-- Google Fonts, Normalize, and Font Awesome -->
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Lora:400,700&display=swap" crossorigin="anonymous" />
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" integrity="sha256-l85OmPOjvil/SOvVt3HnSSjzF1TUMyT9eV0c2BzEGzU=" crossorigin="anonymous" />
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
        <!-- Custom Styles -->
        
        <title><%= personalInfo.firstName %> <%= personalInfo.lastName %> - Resume</title>
        <style>
            :root {
                --primary-color: #2c3e50;
                --secondary-color: #34495e;
                --accent-color: #3498db;
                --text-color: #333;
                --light-bg-color: #ecf0f1;
            }

            body {
                font-family: 'Roboto', sans-serif;
                line-height: 1.6;
                color: var(--text-color);
                background-color: #f5f5f5;
            }

            .sheet {
                max-width: 8.5in;
                margin: 0 auto;
                background-color: white;
                box-shadow: 0 0 10px rgba(0,0,0,0.1);
                display: flex;
            }

            aside {
                flex-basis: 30%;
                background-color: var(--primary-color);
                color: white;
                padding: 2rem;
            }

            .main-content {
                flex-basis: 70%;
                padding: 2rem;
            }

            h1, h2, h3, h4, h5, h6 {
                font-family: 'Lora', serif;
                margin-bottom: 1rem;
            }

            h4 {
                color: var(--accent-color);
                border-bottom: 2px solid var(--accent-color);
                padding-bottom: 0.5rem;
            }

            .profile-image {
                width: 150px;
                height: 150px;
                border-radius: 50%;
                border: 3px solid white;
                margin: 0 auto 1rem;
                display: block;
                object-fit: cover;
            }

            .contact ul {
                padding: 0;
            }

            .contact li {
                list-style-type: none;
                margin-bottom: 0.5rem;
            }

            .contact li i {
                margin-right: 0.5rem;
                color: var(--accent-color);
            }

            .skills ul {
                display: flex;
                flex-wrap: wrap;
                padding: 0;
            }

            .skills li {
                background-color: var(--secondary-color);
                color: white;
                padding: 0.3rem 0.6rem;
                margin: 0.2rem;
                border-radius: 3px;
                font-size: 0.9rem;
            }

            .experience-item, .education-item, .project-item, .certification-item, .volunteer-item {
                margin-bottom: 1.5rem;
            }

            .experience-item header, .education-item header, .project-item header {
                display: flex;
                justify-content: space-between;
                align-items: baseline;
            }

            .experience-item h5, .education-item h5, .project-item h5 {
                margin: 0;
                color: var(--secondary-color);
            }

            .experience-item time, .education-item time, .project-item time {
                font-size: 0.9rem;
                color: #777;
            }

            a {
                color: var(--accent-color);
                text-decoration: none;
            }

            a:hover {
                text-decoration: underline;
            }
        </style>
    </head>
    <body>
        <section id="save">
            <section class="sheet">
                <aside>
                    <img src="<%= personalInfo.image %>" alt="<%= personalInfo.firstName %> <%= personalInfo.lastName %>" class="profile-image" />
                    <h1><%= personalInfo.firstName %> <%= personalInfo.lastName %></h1>
                    <h3>Software Engineer Extraordinaire</h3>
                    
                    <section class="contact">
                        <h4>Contact</h4>
                        <ul>
                            <li><i class="fa fa-map-marker-alt"></i> <%= personalInfo.city %>, <%= personalInfo.country %></li>
                            <li><i class="fa fa-phone"></i> <a href="tel:<%= personalInfo.phoneNumber %>"><%= personalInfo.phoneNumber %></a></li>
                            <li><i class="fa fa-envelope"></i> <a href="mailto:<%= personalInfo.email %>"><%= personalInfo.email %></a></li>
                            <li><i class="fa fa-globe-americas"></i> <a href="<%= personalInfo.website %>"><%= personalInfo.website %></a></li>
                            <li><i class="fab fa-linkedin"></i> <a href="<%= personalInfo.linkedin %>"><%= personalInfo.linkedin %></a></li>
                        </ul>
                    </section>
                    
                    <section class="skills">
                        <h4>Soft Skills</h4>
                        <ul>
                            <% softSkills.forEach(function(skill) { %>
                                <li><%= skill.skill %></li>
                            <% }); %>
                        </ul>
                    </section>
                    
                    <section class="skills">
                        <h4>Technical Skills</h4>
                        <ul>
                            <% technicalSkills.forEach(function(techSkill) { %>
                                <li><%= techSkill.skill %></li>
                            <% }); %>
                        </ul>
                    </section>
                    
                    <section class="skills">
                        <h4>Languages</h4>
                        <ul>
                            <% languages.forEach(function(language) { %>
                                <li><%= language.langName %> - <%= language.proficiency %></li>
                            <% }); %>
                        </ul>
                    </section>
                </aside>
                
                <section class="main-content">
                    <section class="summary">
                        <h4>Summary</h4>
                        <p><%= personalInfo.aboutMe %></p>
                    </section>
                    
                    <section class="experience">
                        <h4>Experience</h4>
                        <% workExperiences.forEach(function(work) { %>
                            <div class="experience-item">
                                <header>
                                    <h5><%= work.position %> at <%= work.company %></h5>
                                    <time><%= new Date(work.from).getFullYear() %> – <%= new Date(work.to).getFullYear() %></time>
                                </header>
                                <p><%= work.city %>, <%= work.country %></p>
                                <p><%= work.description %></p>
                            </div>
                        <% }); %>
                    </section>
                    
                    <section class="education">
                        <h4>Education</h4>
                        <% educations.forEach(function(edu) { %>
                            <div class="education-item">
                                <header>
                                    <h5><%= edu.credential %></h5>
                                    <time><%= new Date(edu.from).getFullYear() %> – <%= new Date(edu.to).getFullYear() %></time>
                                </header>
                                <p><%= edu.organization %>, <%= edu.city %>, <%= edu.country %></p>
                            </div>
                        <% }); %>
                    </section>
                    
                    <section class="projects">
                        <h4>Projects</h4>
                        <% projects.forEach(function(project) { %>
                            <div class="project-item">
                                <header>
                                    <h5><%= project.title %></h5>
                                    <time><%= new Date(project.from).getFullYear() %> – <%= new Date(project.to).getFullYear() %></time>
                                </header>
                                <p><%= project.description %></p>
                                <p><a href="<%= project.link %>">Project Link</a></p>
                            </div>
                        <% }); %>
                    </section>
                    
                    <section class="certifications">
                        <h4>Certifications</h4>
                        <% certifications.forEach(function(cert) { %>
                            <div class="certification-item">
                                <h5><%= cert.name %></h5>
                                <% if (cert.from || cert.to) { %>
                                    <p>
                                        <%= cert.from ? new Date(cert.from).getFullYear() : '' %>
                                        <%= cert.from && cert.to ? ' - ' : '' %>
                                        <%= cert.to ? new Date(cert.to).getFullYear() : '' %>
                                    </p>
                                <% } %>
                                <% if (cert.link) { %>
                                    <p><a href="<%= cert.link %>">Certification Link</a></p>
                                <% } %>
                            </div>
                        <% }); %>
                    </section>
                    
                    <section class="volunteers">
                        <h4>Volunteering</h4>
                        <% volunteers.forEach(function(volunteer) { %>
                            <div class="volunteer-item">
                                <h5><%= volunteer.organization %> - <%= volunteer.role %></h5>
                                <% if (volunteer.from || volunteer.to) { %>
                                    <p>
                                        <%= volunteer.from ? new Date(volunteer.from).getFullYear() : '' %>
                                        <%= volunteer.from && volunteer.to ? ' - ' : '' %>
                                        <%= volunteer.to ? new Date(volunteer.to).getFullYear() : '' %>
                                    </p>
                                <% } %>
                                <p><%= volunteer.description %></p>
                            </div>
                        <% }); %>
                    </section>
                </section>
            </section>
        </section>
    </body>
</html>
